header {
    border-bottom: 1px solid #DDDDDD;
}
.img-head {
    height: 20px;
    width: 20px;
}
.top-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0693e3;
    padding: 0 20px;
    height: 40px;
}
.right-head {
    display: flex;
    gap: 10px;
}
.contain-head > a {
    display: flex;
    gap: 10px;
    color: white;
    font-size: 14px;
    align-items: center;
}
.intervention {
    background-color: #1e72b8;
    padding: 3px 10px;
    border-radius: 0.25rem;
    font-weight: 400;
}