.contain-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
}

.logo {
    max-height: 70px;
}

.first-li {
    list-style-type: none;
}

.a-nav {
    color: black;
    font-size: 17px;
    white-space: nowrap;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.a-nav:hover {
    color: #3AA8E0
}